@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px 80px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  color: white;
}

header .logo {
  font-size: 2em;
  text-transform: uppercase;
  cursor: pointer;
}

header .logo a {
  text-decoration: none;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../assets/icons/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(../assets/icons/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.showcase img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #625a82;
  mix-blend-mode: overlay;
}

.text {
  position: absolute;
  top: 250px;
  z-index: 10;
}

.text h3 {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  /* transition-delay: 1s; */
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
}

.text a:hover {
  letter-spacing: 6px;
}

.me {
  position: relative;
  margin-left: 1000px;
  margin-bottom: 500px;

}

.me img {
  width: 450px;
  height: 450px;

}

.detail {
  position: relative;
  width: 100%;
  /* bottom: 260px; */
  max-height: 200px;
  /* left: 0; */
  /* right: 0; */
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  /* margin: 20px 300px; */
  /* transition-delay: 6s; */
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -ms-animation: fadein 6s; /* Internet Explorer */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: fadein 6s;
}

.grid-row {
  text-align: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.grid-row:hover
{
  transform: translateY(15px);
}


.photo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  font-size: 22px;
}

.music {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  font-size: 22px;
}

.story {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  font-size: 22px;
}

a i {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

a i:hover {
  color: #9362bf;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 0;
  padding-top: 50px;
}

footer .copyright {
  margin: 0;
  color: #fff;
}

.social {
  text-align: center;
  padding-top: 10px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}


@media (max-width: 991px) {
  .showcase, .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}
